name: Deploy repository to Fly.io
on:
  workflow_call:
    secrets:
      gh_token:
        required: true
      fly_token:
        required: true
    inputs:
      target:
        required: true
        type: string
      forced:
        required: false
        default: false
        type: boolean
      fly_args:
        required: false
        default: ""
        type: string

jobs:
  deploy:
    name: Fly
    runs-on: ubuntu-latest
    steps:
      - name: Start deployment
        id: deployment
        uses: actions/github-script@v7
        with:
          result-encoding: string
          github-token: ${{ secrets.gh_token }}
          script:
            | # FIXME: `required_contexts` are always off, because it seems to conflict with GH actions; https://github.com/yettoapp/yetto/actions/runs/5417564599
            let forced = ${{ inputs.forced == true }}
            let opts = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "${{ github.ref }}",
              environment: "${{ inputs.target}}",
              production_environment: ${{ inputs.target == 'production' }},
              transient_environment: ${{ inputs.target == 'staging' }},
              auto_merge: !forced,
              description: "Release deployment",
              required_contexts: []
            };

            const deployment = await github.rest.repos.createDeployment(opts);

            await github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: deployment.data.id,
              state: "in_progress",
              log_url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            });
            return deployment.data.id

      - uses: actions/checkout@v4

      - uses: yettoapp/actions/setup-fly@main

      - run: flyctl deploy --remote-only ${{inputs.fly_args}} -c vendor/fly/fly-${{ inputs.target }}.toml
        env:
          FLY_API_TOKEN: ${{ secrets.fly_token }}
          RAILS_ENV: ${{ inputs.target }}

      - name: update deployment status
        uses: actions/github-script@v7
        if: always()
        with:
          github-token: ${{ secrets.gh_token }}
          script: |
            await github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: ${{ steps.deployment.outputs.result }},
              state: "${{ job.status }}",
              log_url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            });
