name: Release and publish

on:
  workflow_call:
    secrets:
      gh_token:
        required: true
      npm_api_key:
        required: true
    inputs:
      version_filepath:
        default: package.json
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    env:
      GITHUB_TOKEN: ${{ secrets.gh_token }}
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version-label.outputs.version }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: yettoapp/actions/setup-languages@main
        with:
          node: true

      - name: Configure Git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Actions Auto Build"

      - name: Get current version
        id: version-label
        run: |
          VERSION=$(grep version ${{ inputs.version_filepath }} | head -n 1 | cut -d'"' -f4)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Get previous version
        id: previous-version-label
        run: |
          PREVIOUS_VERSION=$(gh api "/repos/${{ github.repository }}/tags?per_page=1" | jq -r '.[] | .name' | sed 's/v//')
          echo "previous_version=${PREVIOUS_VERSION}" >> $GITHUB_OUTPUT

      - name: Early exit if version is the same
        if: steps.version-label.outputs.version == steps.previous-version-label.outputs.previous_version
        run: |
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}

      - name: Generate Release Notes
        id: generate-release-notes
        run: |
          generate() {
            gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/releases/generate-notes \
            -f tag_name='v${{ steps.version-label.outputs.version }}' \
            -f previous_tag_name='v${{ steps.previous-version-label.outputs.previous_version }}' \
            | jq -r ".body"
          }

          # The following is to support multiline with GITHUB_OUTPUT, see https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
          echo "changelog<<EOF" >> $GITHUB_OUTPUT
          echo "$(generate)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Update CHANGELOG.md
        run: |
          echo "## [v${{ steps.version-label.outputs.version }}] - `date +%d-%m-%Y`" >> CHANGELOG.md.tmp
          echo "${{steps.generate-release-notes.outputs.changelog}}" >> CHANGELOG.md.tmp
          echo '-n' >> CHANGELOG.md
          cat CHANGELOG.md >> CHANGELOG.md.tmp
          mv CHANGELOG.md.tmp CHANGELOG.md

      - name: Push to protected branch
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.gh_token }}
          branch: main
          unprotect_reviews: true

      - name: Commit & Push Changelog
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Actions Auto Build"
          git add -f CHANGELOG.md
          git commit -m "[auto-docs][skip ci]: update changelog" || true
          git push

      - name: Create tag
        run: |
          git tag -a v${{ steps.version-label.outputs.version }} -m "Release v${{ steps.version-label.outputs.version }}"
          git push origin --tags

      - name: Publish GitHub release
        run: |
          gh release create v${{ steps.version-label.outputs.version }} --generate-notes

  publish:
    needs: release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up languages
        uses: yettoapp/actions/setup-languages@main
        with:
          node: true

      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_api_key }}
