name: Security

on:
  workflow_call:
    secrets:
      gh_token:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  bundle-audit:
    runs-on: ubuntu-latest-m
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.gh_token }}

      - name: Set up Ruby
        uses: yettoapp/actions/setup-languages@main
        with:
          ruby: true

      # Patch-level verification for bundler.
      - name: Run bundle-audit
        run: |
          bundle exec bundle-audit check --update

  brakeman: # A static analysis security vulnerability scanner for Ruby on Rails applications
    runs-on: ubuntu-latest-m
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.gh_token }}

      - name: Set up Ruby
        uses: yettoapp/actions/setup-languages@main
        with:
          ruby: true

      - name: brakeman report
        run: |
          bundle exec brakeman --color -o /dev/stdout -o security-results.json
          cat security-results.json
