name: Update repository

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
      value:
        required: false
        type: string

permissions:
  pull-requests: write
  contents: write

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Repeat it back
        run: |
          echo "I'm listening..." && \
          echo "I heard you say update ${{ github.event.inputs.action }} (to ${{ github.event.inputs.value }})"

      - name: Update the app
        run: |
          if [ "${{ github.event.inputs.action }}" == "ruby" ]; then
            echo "UPDATE_ACTION=ruby" >> $GITHUB_ENV
          elif [ "${{ github.event.inputs.action }}" == "hephaestus" ]; then
            echo "UPDATE_ACTION=hephaestus" >> $GITHUB_ENV
          else
            echo "I don't know what '${{ github.event.inputs.action }}' means."
            exit 0;
          fi

      - uses: yettoapp/actions/setup-languages@main
        if: ${{ github.event.inputs.action == 'hephaestus' }}
        with:
          ruby: true

      - name: Update Hephaestus
        if: ${{ github.event.inputs.action == 'hephaestus' }}
        run: |
          bundle config unset deployment
          bundle update hephaestus
          HEPHAESTUS_VERSION="$(bundle show hephaestus | grep -oE 'hephaestus-[0-9]+\.[0-9]+\.[0-9]+' | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
          echo "HEPHAESTUS_VERSION=${HEPHAESTUS_VERSION}" >> $GITHUB_ENV

      - name: Create Hephaestus Pull Request
        id: hephaestus-pr
        if: ${{ github.event.inputs.action == 'hephaestus' }}
        uses: peter-evans/create-pull-request@v7
        with:
          add-paths: "Gemfile.lock"
          commit-message: "Update Hephaestus to v${{ env.HEPHAESTUS_VERSION }}"
          title: "Update Hephaestus to v${{ env.HEPHAESTUS_VERSION }}"
          body: >
            This is an automated PR to update Hephaestus to v${{ env.HEPHAESTUS_VERSION }}.<br/><br/>
            Due to security considerations, PRs created by GitHub Actions cannot
            be merged automatically. Please review the changes and merge the PR.<br/><br/>
            If you require the test suites to run, you can close the PR and reopen it to trigger
            those workflows.
          delete-branch: true
          labels: update
          branch: "update-hephaestus"

      - name: Set Ruby version
        if: ${{ github.event.inputs.action == 'ruby' }}
        run: |
          if [ -f .ruby-version ]; then
            echo ${{ github.event.inputs.value }} > .ruby-version
          elif [ "$GITHUB_REPOSITORY" == "yettoapp/images" ]; then
           find . -type f -name 'Dockerfile' -exec perl -pi -w -e 's/RUBY_VERSION=.+/RUBY_VERSION=${{ github.event.inputs.value }}/g;' {} +
          else
            echo "I have no idea what you want me to do with Ruby."
            exit 1;
          fi

      - name: Create Ruby Pull Request
        id: ruby-pr
        if: ${{ github.event.inputs.action == 'ruby' }}
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update Ruby to v${{ github.event.inputs.value }}"
          title: "Update Ruby to v${{ github.event.inputs.value }}"
          body: >
            This is an automated PR to update Ruby to v${{ github.event.inputs.value }}.<br/><br/>
            Due to security considerations, PRs created by GitHub Actions cannot
            be merged automatically. Please review the changes and merge the PR.<br/><br/>
            If you require the test suites to run, you can close the PR and reopen it to trigger
            those workflows.
          delete-branch: true
          labels: update
          branch: "update-ruby"
